<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team Builder App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/stylesheet.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="/plugin.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles.css">

    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    

<style>
h1 {
	font-family: '2-questa_grande_regular_31', serif;
	font-size: 45px;
	
	}
p{
	font-family: '2-questa_grande_regular_31', serif;
	font-size: 20px;
	color: #0e1629;
	}
.well {

display: block;

  width: 100%;

  position: relative;

  top: 0px;

  overflow: hidden;

  z-index: 9;

  margin-bottom: 30px;

  -webkit-border-radius: 7px;

  -moz-border-radius: 7px;

  -ms-border-radius: 7px;

  border-radius: 7px;

  -webkit-transition: 0.1s;

  -o-transition: 0.1s;

  transition: 0.1s;


       }

      

    .well:hover, .well:focus {

              -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.1);

  -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.1);

  -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.1);

  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.1);

  text-decoration: none;

  top: -10px;
  
       }
	   


       </style>
  
  </head>
<body>
 <header id="home">

		<div class="header-top-area">

                <div class="row">
                    <div class="col-sm-3">
                        	<div class="logo">
                           <a href="http://www.pci-sm.com/"><img src = "/pcilogo.png" alt = "pcilogo" height = "85%" width = "85%"></a>
                        </div>
                    </div>
					
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a class="smoth-scroll" href="/searchpage2.html">Search Resumes<div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="/addresume.html">Input Resumes</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                    </div>
				</div>
			</div>

     </header>

	     <section class="section-space-padding2">
				<div class="section-title">
                        <h1>Results Found</h1>
                    </div>
    </section>

<br>
	<% info.forEach(function(result) { %>
<div class="row">
        <div class="col-sm-3">
        <a href = "/info/<%= result.id %>">
          <div class="well w3-animate-zoom">
           
           <p><img src="/pcilogo.png" class="img-circle" height="56" width="56" alt="Avatar"><%= result.user_name %></p>
          </div>
        </a>
        </div>
</div>
	<% }); %>
     <footer>
          <a href = "/searchpage2.html" class="icon btn btn-default"><i class="glyphicon glyphicon-search"></i>Search Again</a>
    </footer>
	
	
	
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
    <!-- Back to Top End -->
    
	
	    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugin.js"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>